<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hall/hall_02/image/action_guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1320,751},{144,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,89}</string>
			</dict>
			<key>hall/hall_02/image/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1586,527},{67,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,61}</string>
			</dict>
			<key>hall/hall_02/image/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{960,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,540}</string>
			</dict>
			<key>hall/hall_02/image/btn_ext.png</key>
			<dict>
				<key>frame</key>
				<string>{{1660,521},{64,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,69}</string>
			</dict>
			<key>hall/hall_02/image/daili.png</key>
			<dict>
				<key>frame</key>
				<string>{{1409,899},{105,62}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,68}</string>
			</dict>
			<key>hall/hall_02/image/fangka_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1380,448},{142,57}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>hall/hall_02/image/fenxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,895},{104,60}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,68}</string>
			</dict>
			<key>hall/hall_02/image/game_table.png</key>
			<dict>
				<key>frame</key>
				<string>{{1980,193},{184,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,47}</string>
			</dict>
			<key>hall/hall_02/image/geli.png</key>
			<dict>
				<key>frame</key>
				<string>{{1900,2},{960,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{960,76}</string>
			</dict>
			<key>hall/hall_02/image/gonggao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1441,448},{104,60}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,68}</string>
			</dict>
			<key>hall/hall_02/image/haii_radiate_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{1980,764},{104,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,38}</string>
			</dict>
			<key>hall/hall_02/image/hall_back_tb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,1117},{313,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{313,297}</string>
			</dict>
			<key>hall/hall_02/image/hall_care_add_bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1980,960},{41,39}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,44}</string>
			</dict>
			<key>hall/hall_02/image/hall_care_tb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1980,919},{37,44}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,46}</string>
			</dict>
			<key>hall/hall_02/image/hall_creat_tb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1413,594},{313,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{313,297}</string>
			</dict>
			<key>hall/hall_02/image/hall_join_tb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1679,966},{313,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{313,297}</string>
			</dict>
			<key>hall/hall_02/image/head_box1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1320,899},{85,85}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>hall/hall_02/image/head_box2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1660,448},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>hall/hall_02/image/id_box01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1980,609},{151,31}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,36}</string>
			</dict>
			<key>hall/hall_02/image/kefu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1980,381},{111,47}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,68}</string>
			</dict>
			<key>hall/hall_02/image/layout_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,2},{930,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{932,444}</string>
			</dict>
			<key>hall/hall_02/image/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{2031,193},{920,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{920,1}</string>
			</dict>
			<key>hall/hall_02/image/loading_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,1003},{279,88}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{287,89}</string>
			</dict>
			<key>hall/hall_02/image/loading_bg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,448},{218,299}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,315}</string>
			</dict>
			<key>hall/hall_02/image/logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,448},{1032,188}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1048,389}</string>
			</dict>
			<key>hall/hall_02/image/logokuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1441,966},{234,122}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,134}</string>
			</dict>
			<key>hall/hall_02/image/radiate_bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1980,872},{43,44}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>hall/hall_02/image/shezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1980,496},{109,47}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,68}</string>
			</dict>
			<key>hall/hall_02/image/touxiangkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1980,2},{187,65}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{193,70}</string>
			</dict>
			<key>hall/hall_02/image/wanfa.png</key>
			<dict>
				<key>frame</key>
				<string>{{1518,895},{103,64}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,68}</string>
			</dict>
			<key>hall/hall_02/image/zhanji.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,913},{107,63}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,68}</string>
			</dict>
			<key>hall/hall_02/image/shauxin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1586,448},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,75}</string>
			</dict>
			<key>hall/hall_02/image/GameLobby_quickEnter_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,751},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>hall/hall_02/image/GameLobby_quickEnter_Text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,448},{77,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,81}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>plist_image.png</string>
			<key>realTextureFileName</key>
			<string>plist_image.png</string>
			<key>size</key>
			<string>{2047,1482}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2047</integer>
			<key>height</key>
			<integer>1482</integer>
		</dict>
	</dict>
</plist>