<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ddz/faceUI/face_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,2},{64,64}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,70},{64,64}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,2},{64,64}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,364},{64,64}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,219},{64,65}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,288},{64,64}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_11_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,863},{63,63}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_11_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,930},{63,63}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_11_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,650},{63,63}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_12_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,643},{62,61}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_12_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,577},{62,61}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_12_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,650},{67,61}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_12_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,73},{68,61}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_13_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,849},{61,62}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_13_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,915},{61,62}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_13_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,2},{65,63}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_13_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,75},{68,67}}</string>
				<key>offset</key>
				<string>{4,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_13_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,293},{67,63}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_13_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{68,69}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_13_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,643},{61,62}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_14_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,577},{62,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_14_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,717},{62,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_14_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,783},{62,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_14_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,849},{62,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_15_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,721},{67,61}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_15_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,709},{62,61}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_15_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,792},{67,61}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,369},{66,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,2},{67,65}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,147},{70,65}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,775},{61,62}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,841},{61,62}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,221},{72,62}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,907},{61,62}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,439},{67,64}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,510},{67,64}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,581},{65,65}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,439},{65,65}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_5_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,508},{65,65}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,297},{68,65}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,221},{68,65}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_6_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,147},{68,65}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_6_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,75},{68,65}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,147},{64,65}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,216},{64,64}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,915},{62,62}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,717},{62,62}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_8_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,783},{62,62}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,138},{64,64}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ddz/faceUI/face_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,70},{64,64}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>faceAnimate.png</string>
			<key>realTextureFileName</key>
			<string>faceAnimate.png</string>
			<key>size</key>
			<string>{346,995}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>346</integer>
			<key>height</key>
			<integer>995</integer>
		</dict>
	</dict>
</plist>