<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>green_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,0},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>green_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,0},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>green_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,0},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>green_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>green_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,0},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>green_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,33},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>green_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,33},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>green_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,33},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>green_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,33},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>green_num.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfa86a908f09078330a29d3a9736f28a$</string>
            <key>textureFileName</key>
            <string>green_num.png</string>
        </dict>
    </dict>
</plist>
