<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,0},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,0},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,0},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,0},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,33},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,33},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,33},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,33},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>red_jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,33},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>red_num.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fc16c060c6a55402f85f6f5c753a78b$</string>
            <key>textureFileName</key>
            <string>red_num.png</string>
        </dict>
    </dict>
</plist>
