<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>headWin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,110}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>headWin10.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,110}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>headWin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{90,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,110}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>headWin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{90,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,110}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>headWin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{90,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,110}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>headWin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{90,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,110}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>headWin6.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,114},{90,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,110}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>headWin7.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,114},{90,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,110}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>headWin8.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,114},{90,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,110}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>headWin9.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,114},{90,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,110}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>headWin.png</string>
            <key>size</key>
            <string>{462,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f91d86aaac2394674b4e2b5259c755e$</string>
            <key>textureFileName</key>
            <string>headWin.png</string>
        </dict>
    </dict>
</plist>
