<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_pay_alipay.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,282},{236,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,70}}</string>
                <key>sourceSize</key>
                <string>{236,70}</string>
            </dict>
            <key>bt_pay_wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{236,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,71}}</string>
                <key>sourceSize</key>
                <string>{236,71}</string>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,282},{184,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,66}}</string>
                <key>sourceSize</key>
                <string>{184,66}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,282},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>recharge_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{756,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{756,278}}</string>
                <key>sourceSize</key>
                <string>{756,278}</string>
            </dict>
            <key>recharge_list_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{224,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,258}}</string>
                <key>sourceSize</key>
                <string>{224,258}</string>
            </dict>
            <key>roomcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,262},{139,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,85}}</string>
                <key>sourceSize</key>
                <string>{139,85}</string>
            </dict>
            <key>shop_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,282},{70,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,41}}</string>
                <key>sourceSize</key>
                <string>{70,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Recharge.png</string>
            <key>size</key>
            <string>{986,355}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae0d3e9fa105d12b3d961cf62a31c252$</string>
            <key>textureFileName</key>
            <string>Recharge.png</string>
        </dict>
    </dict>
</plist>
