<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,136},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,172},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,110},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>invisible.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,84},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>joker1.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,2},{17,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,132}}</string>
                <key>sourceSize</key>
                <string>{17,132}</string>
            </dict>
            <key>joker2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{17,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,132}}</string>
                <key>sourceSize</key>
                <string>{17,132}</string>
            </dict>
            <key>joker_tb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{73,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,57}}</string>
                <key>sourceSize</key>
                <string>{73,57}</string>
            </dict>
            <key>joker_tb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{73,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,57}}</string>
                <key>sourceSize</key>
                <string>{73,57}</string>
            </dict>
            <key>small_card_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,77},{45,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{45,58}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
            <key>small_card_num_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,124},{31,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,25},{21,34}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,211},{23,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,61},{21,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,160},{23,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{23,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,25},{21,34}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,61},{21,34}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,160},{25,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,100},{21,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,136},{21,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,25},{21,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,64},{21,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,100},{21,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_balck_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,38},{31,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_balck_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,28},{21,34}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_balck_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,211},{23,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_balck_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,64},{21,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_balck_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,196},{23,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{23,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_balck_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,28},{21,34}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_balck_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{21,34}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_balck_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,196},{25,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_balck_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{21,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_balck_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,218},{21,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_balck_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,182},{21,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_balck_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,146},{21,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_balck_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,182},{21,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_invisible_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{31,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_invisible_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,110},{21,34}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_invisible_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{23,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_invisible_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,146},{21,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_invisible_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,124},{23,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{23,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_invisible_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,74},{21,34}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_invisible_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,110},{21,34}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_invisible_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,160},{25,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_invisible_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,74},{21,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_invisible_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,232},{21,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_invisible_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,196},{21,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_invisible_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,232},{21,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>small_card_num_invisible_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,232},{21,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ada27f1282b1b183f9f788fee4c586c$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
