<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zhajinhua/res/NewImg/card/small_bgcard.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,2},{69,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,85}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,91},{69,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,85}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,245},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,245},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,245},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,357},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,389},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,357},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,389},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,357},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,389},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,82},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_balck_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,114},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_balck_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,146},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_balck_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,178},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_balck_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,210},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_balck_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,242},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_balck_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,82},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_balck_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,114},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_balck_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,146},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_balck_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,178},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_balck_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,210},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_balck_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,242},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_balck_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,82},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_balck_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,114},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,146},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,178},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/small_card_num_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,210},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/26spades.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,427},{71,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,69}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/big_bgcard.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,304},{96,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,119}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/big_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,304},{96,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,119}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/cards_jake.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,277},{56,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,76}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/cards_king.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,421},{56,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,76}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/cards_queen.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,2},{56,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,76}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/clubs.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,427},{72,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,70}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/diamonds.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,427},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/hearts.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,180},{70,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,61}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/head_balck_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{115,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,147}</string>
			</dict>
			<key>zhajinhua/res/NewImg/card/head_box01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,153},{115,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,147}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{287,501}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>287</integer>
			<key>height</key>
			<integer>501</integer>
		</dict>
	</dict>
</plist>