<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plane0.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,391},{147,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,77}}</string>
                <key>sourceSize</key>
                <string>{147,77}</string>
            </dict>
            <key>plane1.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,2},{121,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,64}}</string>
                <key>sourceSize</key>
                <string>{121,64}</string>
            </dict>
            <key>plane2.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,391},{271,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,181}}</string>
                <key>sourceSize</key>
                <string>{271,181}</string>
            </dict>
            <key>plane3.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{460,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,387}}</string>
                <key>sourceSize</key>
                <string>{460,387}</string>
            </dict>
            <key>plane4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,470}}</string>
                <key>sourceSize</key>
                <string>{489,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plane.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ac9f817b4057538396f199fc463bc7b$</string>
            <key>textureFileName</key>
            <string>plane.png</string>
        </dict>
    </dict>
</plist>
