<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DoubleLine0.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,2},{148,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,77}}</string>
                <key>sourceSize</key>
                <string>{148,77}</string>
            </dict>
            <key>DoubleLine1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{865,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{865,282}}</string>
                <key>sourceSize</key>
                <string>{865,282}</string>
            </dict>
            <key>DoubleLine2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{751,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,282}}</string>
                <key>sourceSize</key>
                <string>{751,282}</string>
            </dict>
            <key>DoubleLine3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{621,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{621,282}}</string>
                <key>sourceSize</key>
                <string>{621,282}</string>
            </dict>
            <key>DoubleLine4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{489,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,470}}</string>
                <key>sourceSize</key>
                <string>{489,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DoubleLine.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:472060e2dd6ed2e37588803461feb7c1$</string>
            <key>textureFileName</key>
            <string>DoubleLine.png</string>
        </dict>
    </dict>
</plist>
