<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allCompare1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{520,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,400}}</string>
                <key>sourceSize</key>
                <string>{520,400}</string>
            </dict>
            <key>allCompare10.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{520,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,400}}</string>
                <key>sourceSize</key>
                <string>{520,400}</string>
            </dict>
            <key>allCompare11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,2},{520,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,400}}</string>
                <key>sourceSize</key>
                <string>{520,400}</string>
            </dict>
            <key>allCompare12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{520,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,400}}</string>
                <key>sourceSize</key>
                <string>{520,400}</string>
            </dict>
            <key>allCompare13.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,404},{520,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,400}}</string>
                <key>sourceSize</key>
                <string>{520,400}</string>
            </dict>
            <key>allCompare2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,404},{520,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,400}}</string>
                <key>sourceSize</key>
                <string>{520,400}</string>
            </dict>
            <key>allCompare3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{520,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,400}}</string>
                <key>sourceSize</key>
                <string>{520,400}</string>
            </dict>
            <key>allCompare4.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,806},{520,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,400}}</string>
                <key>sourceSize</key>
                <string>{520,400}</string>
            </dict>
            <key>allCompare5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,806},{520,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,400}}</string>
                <key>sourceSize</key>
                <string>{520,400}</string>
            </dict>
            <key>allCompare6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{520,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,400}}</string>
                <key>sourceSize</key>
                <string>{520,400}</string>
            </dict>
            <key>allCompare7.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1208},{520,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,400}}</string>
                <key>sourceSize</key>
                <string>{520,400}</string>
            </dict>
            <key>allCompare8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1208},{520,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,400}}</string>
                <key>sourceSize</key>
                <string>{520,400}</string>
            </dict>
            <key>allCompare9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1610},{520,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,400}}</string>
                <key>sourceSize</key>
                <string>{520,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>allCompare.png</string>
            <key>size</key>
            <string>{1568,2012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c354ce72e948bba9b5618f8e18e768f3$</string>
            <key>textureFileName</key>
            <string>allCompare.png</string>
        </dict>
    </dict>
</plist>
